<div>
  <a
    href="components.html"
    class="btn btn-primary btn-component"
    data-spy="affix"
    data-offset-top="600"
    ><i class="ti-shift-left-alt"></i> Inicio</a
  >
  <header class="header">
    <div class="container">
      <ul class="social-icons pt-3">
        <li class="social-item">
          <a
            class="social-link text-light"
            href="https://www.linkedin.com/in/abner-jair-mendoza-quinteros-76665166/"
            target="_blank"
            ><i class="ti-linkedin" aria-hidden="true"></i
          ></a>
        </li>
        <li class="social-item">
          <a
            class="social-link text-light"
            href="https://github.com/abnerMendozaq"
            target="_blank"
            ><i class="ti-github" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
      <div class="header-content">
        <h4 class="header-subtitle">Hola, yo soy</h4>
        <h1 class="header-title">Abner Jair Mendoza Quinteros</h1>
        <h6 class="header-mono">Diseñador Frond end | Developer</h6>
      </div>
    </div>
  </header>
  <nav
    class="navbar sticky-top navbar-expand-lg navbar-light bg-white"
    data-spy="affix"
    data-offset-top="510"
  >
    <div class="container">
      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse mt-sm-20 navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Acerca de</a>
          </li>
        </ul>
        <ul class="navbar-nav brand">
          <img src="assets/imgs/hidden1.jpg" alt="" class="brand-img" />
          <li class="brand-txt">
            <h5 class="brand-title">Abner Jair Mendoza Quinteros</h5>
            <div class="brand-subtitle">Diseñador Web | Developer</div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#portfolio" class="nav-link">Portafolio</a>
          </li>
          <li class="nav-item last-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div id="about" class="row about-section">
      <div class="col-lg-4 about-card">
        <h3 class="font-weight-light">Quien soy yo?</h3>
        <span class="line mb-5"></span>
        <h5 class="mb-3">Soy Diseñador Web / Developer</h5>
        <p class="mt-20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui
          deserunt consequatur fugit repellendusillo voluptas?
        </p>
        <button class="btn btn-outline-danger">
          <i class="icon-down-circled2"></i>Descargar mi CV
        </button>
      </div>
      <div class="col-lg-4 about-card">
        <h3 class="font-weight-light">Informacion Personal</h3>
        <span class="line mb-5"></span>
        <ul class="mt40 info list-unstyled">
          <li><span>Correo Electronico</span> : abnerjmendoza@gmail.com</li>
          <li><span>Telefono</span> : + (591) 71717974</li>
        </ul>
        <ul class="social-icons pt-3">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/in/abner-jair-mendoza-quinteros-76665166/"
              target="_blank"
              ><i class="ti-linkedin" aria-hidden="true"></i
            ></a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://github.com/abnerMendozaq"
              target="_blank"
              ><i class="ti-github" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 about-card">
        <h3 class="font-weight-light">Mi Experiencia</h3>
        <span class="line mb-5"></span>
        <div class="row">
          <div class="col-1 text-danger pt-1">
            <i class="ti-widget icon-lg"></i>
          </div>
          <div class="col-10 ml-auto mr-3">
            <h6>UX Design</h6>
            <p class="subtitle">Realizacion de sistemas responsivos.</p>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-1 text-danger pt-1">
            <i class="ti-paint-bucket icon-lg"></i>
          </div>
          <div class="col-10 ml-auto mr-3">
            <h6>Web Development</h6>
            <p class="subtitle">Desarrollo de sistemas a medida.</p>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Section -->
  <section class="section bg-custom-gray" id="portfolio">
    <div class="container">
      <h1 class="mb-5"><span class="text-danger">Mi</span> Portafolio</h1>
      <div class="portfolio">
        <!-- <div class="filters">
          <a href="#" data-filter=".new" class="active"> Nuevo </a>
          <a href="#" data-filter=".advertising"> Advertising </a>
          <a href="#" data-filter=".branding"> Branding </a>
          <a href="#" data-filter=".web"> Web </a>
        </div> -->
        <div class="portfolio-container">
          <div class="col-md-6 col-lg-4 web new">
            <div class="portfolio-item">
              <img
                src="assets/imgs/transportadora.png"
                class="img-fluid"
                alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
              />
              <div class="content-holder">
                <a
                  class="img-popup"
                  href="https://github.com/rozoconsultores/trunife"
                  target="_blank"
                >
                  <div class="text-holder">
                    <h6 class="title">Sistema para transportadora</h6>
                    <p class="subtitle">
                      Sistema para envio de carga transportadora
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 web new">
            <div class="portfolio-item">
              <img
                src="assets/imgs/oep.jpg"
                class="img-fluid"
                alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
              />
              <div class="content-holder">
                <a
                  class="img-popup"
                  href="https://github.com/mochoruck/direpre-web"
                  target="_blank"
                >
                  <div class="text-holder">
                    <h6 class="title">DIREPRE Web</h6>
                    <p class="subtitle">Sistema de conteo de votos OEP</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 advertising new">
            <div class="portfolio-item">
              <img
                src="assets/imgs/indep.jpg"
                class="img-fluid"
                alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
              />
              <div class="content-holder">
                <a
                  class="img-popup"
                  href="https://github.com/INDEP2022/f-sigebi"
                  target="_blank"
                >
                  <div class="text-holder">
                    <h6 class="title">SIGEBI WEB</h6>
                    <p class="subtitle">
                      Sistema de adminitracion de bienes gobierno Mexico
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 branding new">
            <div class="portfolio-item">
              <img
                src="assets/imgs/rick.png"
                class="img-fluid"
                alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
              />
              <div class="content-holder">
                <a
                  class="img-popup"
                  href="https://rick-morty-app-drab.vercel.app/home"
                  target="_blank"
                >
                  <div class="text-holder">
                    <h6 class="title">Rick and Morty App</h6>
                    <p class="subtitle">
                      Aplicacion de ejemplo de Angular con api rest
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 web new">
            <div class="portfolio-item">
              <img
                src="assets/imgs/chat.png"
                class="img-fluid"
                alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
              />
              <div class="content-holder">
                <a
                  class="img-popup"
                  href="https://chat-client-one.vercel.app/login"
                  target="_blank"
                >
                  <div class="text-holder">
                    <h6 class="title">Aplicacion de chat</h6>
                    <p class="subtitle">
                      Ejemplo de aplicacion de chat con websockets y salas.
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 branding new">
            <div class="portfolio-item">
              <img
                src="assets/imgs/store.png"
                class="img-fluid"
                alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
              />
              <div class="content-holder">
                <a
                  class="img-popup"
                  href="https://examen-flax-mu.vercel.app"
                  target="_blank"
                >
                  <div class="text-holder">
                    <h6 class="title">App Tienda</h6>
                    <p class="subtitle">
                      Template de tienda para examen de diseño web.
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of portfolio section -->
  <div class="section contact" id="contact">
    <div id="map" class="map"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="contact-form-card">
            <h4 class="contact-title">Enviar Mensaje</h4>
            <form action="">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Name *"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="email"
                  placeholder="Email *"
                  required
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  id=""
                  placeholder="Message *"
                  rows="7"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary">
                  Enviar Mensaje
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-info-card">
            <h4 class="contact-title">Ponerse en contacto</h4>
            <div class="row mb-2">
              <div class="col-1 pt-1 mr-1">
                <i class="ti-mobile icon-md"></i>
              </div>
              <div class="col-10">
                <h6 class="d-inline">
                  Telefono : <br />
                  <span class="text-muted">+ (591) 71717974</span>
                </h6>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-1 pt-1 mr-1">
                <i class="ti-map-alt icon-md"></i>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-1 pt-1 mr-1">
                <i class="ti-envelope icon-md"></i>
              </div>
              <div class="col-10">
                <h6 class="d-inline">
                  Correo Electronico :<br />
                  <span class="text-muted">abnerjmendoza@gmail.com</span>
                </h6>
              </div>
            </div>
            <ul class="social-icons pt-4">
              <li class="social-item">
                <a
                  class="social-link text-dark"
                  href="https://www.linkedin.com/in/abner-jair-mendoza-quinteros-76665166/"
                  target="_blank"
                  ><i class="ti-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li class="social-item">
                <a
                  class="social-link text-dark"
                  href="https://github.com/abnerMendozaq"
                  target="_blank"
                  ><i class="ti-github" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer py-3">
    <div class="container">
      <p class="small mb-0 text-light">
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
      </p>
    </div>
  </footer>
</div>
